<div class="footer">
    <div class="float-right">
        1.0.0
        @*1=versão
        0=melhorias
        0=bugs*@
    </div>
    <div>
        <strong>Copyright</strong>&copy; Gestão Salão - @DateTime.Now.Year
    </div>
</div>
