<head>
    <title>Erro encontrado - BNP Paribas</title>
</head>

<main id="tri-str-main">
    <section class="tri-sec" id="tri-sec-alocation">
        <header class="sec-header tri-the the-contrast">
            <div class="tri-str-wrapper">
                <nav class="sec-navigation">
                    <ul class="navigation-list">
                        <li class="navigation-item">
                            <h1 class="sec-title">Oooops! Algum problema aconteceu</h1>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <br />
        <br />
        <div class="sec-content">
            <div class="tri-str-wrapper">
                <div class="alert alert-info" style="color:black">
                    <h5>Tela</h5>
                    <hr />
                    <p> <span> @ViewBag.ExceptionPath</span></p>
                </div>

                <div class="alert alert-info" style="color:black">

                    <h5>Alerta:</h5>

                    <hr />
                    <p><span> @ViewBag.Mensagem  </span></p>
                </div>
            </div>
        </div>
    </section>
</main>
